<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Jobs Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- Boostrap Stylesheet -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Our own CSS stylesheet -->
  <link rel="stylesheet" href="../static/css/styles.css" media="screen">
</head>


<body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
  
          <!-- Landing page ('Home') tab to left end-->
          <a class="navbar-brand rounded ms-2 p-1 text-white fw-bold" href="index.html">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-haspopup="true" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>        
          
            <!-- Collapsable Tabs to right end-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              
              <!-- Dropdown tab -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Data Jobs Statstics
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="salary.html">Salary Statstics</a></li>
                  <li><a class="dropdown-item" href="country.html">Job Demographic</a></li>                  
                </ul>
              </li>
  
              <!-- Link tabs -->
              <li class="nav-item">
                <a class="nav-link" href="map.html">Job Postings</a>
              </li>              
            </ul>
            </div>          
        </div>
    </nav>
    <!-- End of navbar -->    
    
    
    <!-- Start of 'Purpose' container -->
    <div class="container bg-grey">
      <div class="row">
        <!-- <div class="col-lg-7 col-md-12"> -->
          <div class="box bg-white my-4 p-4">
            <h2 class="title text-left">Purpose</h2>
            <hr>
            <div id="wordChart"></div> 
            
            <p>
              The purpose of this project was to analyze how weather changes as we get closer to the equator. to accomplish this analysis, we first pulled data from the openWeatherMap API to assemble a data set on over 500 cities.
            </p>
            
            
          </div>
        </div>
        <!-- End of 'Summary' container -->

        <!-- Start of 'Visualization' container -->
        <div class="row"></div>
        <!-- <div class="col-lg-5 col-md-12"> -->
          <div class="box bg-white ms-2 my-4 p-4">
            <h2 class="title text-left">Visualization</h2>
            <hr>
            <!-- Create 'first row' to hold two plots -->
            <div class="row">
              <div class="col-6">
                <div class="title text-center">Latitude vs. Max Temperature</div>
                <a href="visualizations/salary.html">
                  <img class="rounded img-fluid" src="assets/images/Fig1.png" alt="salary Plot">
                </a>
              </div>
              <div class="col-6">
                <div class="title text-center">Latitude vs. Humidity</div>
                <a href="visualizations/type.html">
                  <img class="rounded img-fluid" src="assets/images/Fig2.png" alt="type Plot">
                </a>
              </div>
            </div>
            <!-- Create 'second row' to hold remaining two plots -->
            <div class="row">
              <div class="col-6">
                <div class="title text-center">Latitude vs. Cloudiness</div>
                <a href="visualizations/country.html">
                  <img class="rounded img-fluid" src="assets/images/Fig3.png" alt="country Plot">
                </a>
              </div>
              <div class="col-6">
                <div class="title text-center">Latitude vs. Wind Speed</div>
                <a href="visualizations/map.html">
                  <img class="rounded img-fluid" src="assets/images/Fig4.png" alt="map Plot">
                </a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- End of 'Visualization' container -->
    </div>    
  </body>
</html>